.selectArea{
    position: relative;
    height: 40px;
    width: 100%;
    
    font-weight: 700;
    font-family: New Century Schoolbook, sans-serif;
    
}
optgroup{
    font-weight: 700;
    font-family: New Century Schoolbook, sans-serif;
    font-size: 34px!important;
}

.div_central{
    width: 100%;
    position: relative;
    text-align: center;
}

.imagem{
    margin-top: 20px;
    width: 250px;
    height: 50px;
}

table img{
    width: 200px;
    height: 200px;
}

table td{
    text-align: left;
    vertical-align: top;
};

body{
    background-color: #98FB98;
}

.cabecalho{
    color: #FF4040;
   font-size: 25px
}

#navCabecalho{
    background-color: #0c5628;
}
.imgRevista{
    width:200px;
    height: 250px;
}

.divTexto{
    display: inline-block;
    width:65%;
}
.divImagem{
    display: inline-block;
    width: 20%;
    padding-top: 10px;
}

.fonteh1{
    font-family: "Noticia Text" ;
    font-weight: 600;
}

.fonteParagrafo{
    font-size: 1.25rem;
    font-family: "Open Sans serif";
}